
/*---------------------------------------------Grid Layout-----*/

header {
    background: radial-gradient(circle farthest-side at 0% 50%,#f71e17 23.5%,rgba(240,166,17,0) 0)21px 30px,
                radial-gradient(circle farthest-side at 0% 50%,#8b0404 24%,rgba(240,166,17,0) 0)19px 30px,
                linear-gradient(#f71e17 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#f71e17 0)0 0,
                linear-gradient(150deg,#f71e17 24%,#8b0404 0,#8b0404 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#8b0404 0,#8b0404 76%,#f71e17 0)0 0,
                linear-gradient(30deg,#f71e17 24%,#8b0404 0,#8b0404 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#8b0404 0,#8b0404 76%,#f71e17 0)0 0,
                linear-gradient(90deg,#8b0404 2%,#d81a13 0,#d81a13 98%,#8b0404 0%)0 0 #d81a13;
    background-size: 40px 60px;
    border-bottom: 5px ridge #f5e1e1f6;
}

main {
    grid-template-rows: 100px auto auto;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    clip-path: polygon(0% 25%, 0% 100%, 100% 100%, 100% 0%);
    position: relative;
}


/*---------------------------------------------Page Title-----*/

.page-title {
    grid-area: 1 / 1 / span 1 / span 2;
}

.page-title h1 {
    font-size: 4em;
}


/*---------------------------------------------Band Info-----*/

.band-info {
    grid-area: 2 / 1 / span 1 / span 2;
    padding: 2vmin ;
    background-color: rgba(0, 0, 0, 0.6);
    width: 60vw;
    font-size: 1.5em;
    margin-bottom: 5vh;
}


/*---------------------------------------------Band Members-----*/

/* First bit with introduction to the grid system, lesson about it from my cousin Chris, some of this code taken from him.
    Lots of code and CSS here, this is built aa a container with 9 images of the band, and a full image, member name and member about.
    Originally, this was meant to use a click event on a member image, to change the content/display of the last 2 elements. From research, this could only be simply done with JavaScript and i didnt want to put something in that i didnt fully know how to use. Have done lots of work to get the elements to change based on a hover event. */
.band-member-select {
    grid-area: 3 / 1 / span 1 / span 2;
    display: inline-grid;
    grid-template-columns: repeat(6, 18vmin);
    grid-template-rows: repeat(4, 18vmin);
    column-gap: 1vmin;
    row-gap: 1vmin;
    width: auto;
    max-width: 100vw;
    position: relative;
    margin: 0 2vw;
    background-color: rgba(174, 167, 167, 0.5);
    border: 4px inset rgb(174, 167, 167);
    border-radius: 2%;
    padding: 2vmin;
    margin-bottom: 2vh;
}

.band-member,
.full-image {
    align-items: center;
    justify-content: center;
    width: 18vmin;
    height: 18vmin;
    border-radius: 5%;
    display: flex;
}

.band-member img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

.full-image {
    grid-area: 2 / 2 / span 2 / span 2;
    position: relative;
    height: calc(2 * 18vmin);
    width: calc(2 * 18vmin);
    background-color: rgba(174, 167, 167, 0.5); 
    border-radius: 50%;
}

.full-image span {
    position: absolute;
    height: calc(2 * 18vmin);
    width: calc(2 * 18vmin);
    border-radius: 50%;
    border: 10px solid rgb(174, 167, 167);
}

/* The blank is what shows when the screen loads, just a '?' */
.full-image span.full-image-blank {
    max-height: 100%;
    font-size: calc(2 * 14vmin);
    font-family: 'Luckiest Guy', cursive;       
    text-align: center;
    line-height: normal;
    
}
.member-name {
    grid-area: 2 / 4 / span 1 / span 2;
    position: relative;
    width: calc(2 * 18vmin);
    height: 15vmin;
    color: #f7f8fa;
}

.member-name span {
    position: absolute; 
    font-size: 6vmin;
    text-transform: uppercase;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: bold;
    width: calc(2 * 18vmin);
    text-align: center;
}

.member-info {
    grid-area: 2 /4 / span 1 / span 2;
    position: relative;
    width: calc(2 * 18vmin);
    margin-top: 7vmin;
}

.member-info span {
    position: absolute;
    width: calc(2 * 18vmin);
    overflow: auto;
    padding: 1vh;
    font-size: 2vmin;
}

.member-info .instrument {
    font-size: 3vmin;
    text-align: center;
    margin-bottom: 1vh;
}

.member-info span.member-info-blank {
    color: #f7f8fa;
    text-align: center;
    margin-top: 10vh;
}


/*---------------------------------------------Grid Allignment-----*/

    /* Grid box, the pictures needed to go around the centre elements, so needed to assign grid locations to them all */
.band-member.dave {
    grid-area: 1 / 2 / span 1 / span 1;
}

.band-member.will {
    grid-area: 1 / 3 / span 1 / span 2; 
    justify-self: center;
}

.band-member.ryan {
    grid-area: 1 / 5 / span 1 / span 1;
}

.band-member.matt-s {
    grid-area: 2 / 1 / span 1 / span 1;
}

.band-member.belle {
    grid-area: 2 / 6 / span 1 / span 1;
}

.band-member.gary {
    grid-area: 3 / 1 / span 1 / span 1;
}

.band-member.megan {
    grid-area: 3 / 6 / span 1 / span 1;
}

.band-member.laurie {
    grid-area: 4 / 2 / span 1 / span 2; 
    justify-self: center;
}

.band-member.matt-b {
    grid-area: 4 / 4 / span 1 / span 2; 
    justify-self: center;
}

/*---------------------------------------------Band Member Images-----*/

.band-member:hover {
    background-color: rgba(174, 167, 167, 0.233);
    cursor: pointer;
}

.band-member:hover img {
    transform: scale(1.2);
    filter: brightness(125%);
    transition: all 0.3s ease-in;
}

/*---------------------------------------------Selection Change-----*/

    /* This section is the code for changing the 'full-image', 'member-name' and 'member-info' elements. I have used opacity and visibility with transitions to make the elements change. The inspiration from this came from the Kevin Powell video with the drop down menu, i used the techniques i learnt here to support. This took an awful lot of testing!! */

        /*-------------------------Image Change-----*/

/* Initial state - blank visible and all other backgrounds not. The long time on the transition is so that when the user hovers off the member image, the initial state doesnt come back in straight away, so they can read the information and will stay there if they move their mouse away. */
.full-image-blank {
    opacity: 1;
    transition: opacity 1000s;
}

.full-image-dave {
    background-image: url("../img/dave/dave-full-image-crop.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0; 
    transition: opacity 1000s;
}

.full-image-will {
    background-image: url("../img/will/will-full-crop.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0; 
    transition: opacity 1000s;
}

.full-image-ryan {
    background-image: url("../img/ryan/ryan-full-image.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0; 
    transition: opacity 1000s;
}

.full-image-matt-s {
    background-image: url("../img/matt-s/matt-full-image.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0; 
    transition: opacity 1000s;
}

.full-image-belle {
    background-image: url("../img/belle/belle-full-image.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0; 
    transition: opacity 1000s;
}

.full-image-gary {
    background-image: url("../img/gary/gary-full-image.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0; 
    transition: opacity 1000s;
}

.full-image-megan {
    background-image: url("../img/megan/megan_cropped.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0; 
    transition: opacity 1000s;
}

.full-image-laurie {
    background-image: url("../img/laurie/laurie-full-image.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0; 
    transition: opacity 1000s;
}

.full-image-matt-b {
    background-image: url("../img/matt/matt-full-image.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0; 
    transition: opacity 1000s;
}

/* This makes the initial image dissapear and the image related to the band member hovered show */
.band-member:hover ~ .full-image > .full-image-blank {
    opacity: 0;
    transition: opacity 0s;
} 

.band-member.dave:hover ~ .full-image > .full-image-dave,
.band-member.will:hover ~ .full-image > .full-image-will,
.band-member.ryan:hover ~ .full-image > .full-image-ryan,
.band-member.matt-s:hover ~ .full-image > .full-image-matt-s,
.band-member.belle:hover ~ .full-image > .full-image-belle,
.band-member.gary:hover ~ .full-image > .full-image-gary,
.band-member.megan:hover ~ .full-image > .full-image-megan,
.band-member.laurie:hover ~ .full-image > .full-image-laurie,
.band-member.matt-b:hover ~ .full-image > .full-image-matt-b  {
    opacity: 1;
    transition: opacity 0s;
}

/* This stops the long transitions happening on other elements when a different band member is hovered over, restarting all the elements transitions.
https://stackoverflow.com/questions/11131875/what-is-the-cleanest-way-to-disable-css-transition-effects-temporarily#:~:text=To%20restore%20the%20transition%20as,%2F%2F%20Restore%20the%20transition%20elem.
https://stackoverflow.com/questions/4013701/select-all-tr-except-the-first-one */
.band-member.dave:hover ~ .full-image > span:not(:first-child),
.band-member.will:hover ~ .full-image > span:not(:first-child),
.band-member.ryan:hover ~ .full-image > span:not(:first-child),
.band-member.matt-s:hover ~ .full-image > span:not(:first-child),
.band-member.belle:hover ~ .full-image > span:not(:first-child),
.band-member.gary:hover ~ .full-image > span:not(:first-child),
.band-member.megan:hover ~ .full-image > span:not(:first-child),
.band-member.laurie:hover ~ .full-image > span:not(:first-child),
.band-member.matt-b:hover ~ .full-image > span:not(:first-child) {
    transition: none !important;
}

        /*-------------------------Name Change-----*/

/* Same layout as above for the member name except that I've used visibilty aswell. With the pictures is doesnt matter if they are on top, but the names and info have some links in (instagram) and they cant be clicked is there are other elements ontop, so needed to make them not show at all. kept the opacity as needed the duration transition */
.member-name-blank {
    visibility: visible;
    opacity: 1;
    transition: all 1000s;
}

.member-name-dave, 
.member-name-will,
.member-name-ryan,
.member-name-matt-s,
.member-name-belle,
.member-name-gary,
.member-name-megan,
.member-name-laurie,
.member-name-matt-b {
    visibility: hidden;
    opacity: 0;
    transition: all 1000s;
}

.band-member:hover ~ .member-name > .member-name-blank {
    visibility: hidden;
    opacity: 0;
    transition: all 0s;
} 

.band-member.dave:hover ~ .member-name > .member-name-dave,
.band-member.will:hover ~ .member-name > .member-name-will,
.band-member.ryan:hover ~ .member-name > .member-name-ryan,
.band-member.matt-s:hover ~ .member-name > .member-name-matt-s,
.band-member.belle:hover ~ .member-name > .member-name-belle,
.band-member.gary:hover ~ .member-name > .member-name-gary,
.band-member.megan:hover ~ .member-name > .member-name-megan,
.band-member.laurie:hover ~ .member-name > .member-name-laurie,
.band-member.matt-b:hover ~ .member-name > .member-name-matt-b {
    visibility: visible;
    opacity: 1;
    transition: all 0s;
} 

.band-member.dave:hover ~ .member-name > span:not(:first-child),
.band-member.will:hover ~ .member-name > span:not(:first-child),
.band-member.ryan:hover ~ .member-name > span:not(:first-child),
.band-member.matt-s:hover ~ .member-name > span:not(:first-child),
.band-member.belle:hover ~ .member-name > span:not(:first-child),
.band-member.gary:hover ~ .member-name > span:not(:first-child),
.band-member.megan:hover ~ .member-name > span:not(:first-child),
.band-member.laurie:hover ~ .member-name > span:not(:first-child),
.band-member.matt-b:hover ~ .member-name > span:not(:first-child) {
    transition: none !important;
}

        /*-------------------------Info Change-----*/

.member-info-blank {
    visibility: visible;
    opacity: 1;
    transition: all 1000s;
}

.member-info-dave, 
.member-info-will,
.member-info-ryan,
.member-info-matt-s,
.member-info-belle,
.member-info-gary,
.member-info-megan,
.member-info-laurie,
.member-info-matt-b {
    visibility: hidden;
    opacity: 0;
    transition: all 1000s;
}

.band-member:hover ~ .member-info > .member-info-blank {
    visibility: hidden;
    opacity: 0;
    transition: all 0s;
} 

.band-member.dave:hover ~ .member-info > .member-info-dave,
.band-member.will:hover ~ .member-info > .member-info-will,
.band-member.ryan:hover ~ .member-info > .member-info-ryan,
.band-member.matt-s:hover ~ .member-info > .member-info-matt-s,
.band-member.belle:hover ~ .member-info > .member-info-belle,
.band-member.gary:hover ~ .member-info > .member-info-gary,
.band-member.megan:hover ~ .member-info > .member-info-megan,
.band-member.laurie:hover ~ .member-info > .member-info-laurie,
.band-member.matt-b:hover ~ .member-info > .member-info-matt-b {
    visibility: visible;
    opacity: 1;
    transition: all 0s;
} 

.band-member.dave:hover ~ .member-info > span:not(:first-child),
.band-member.will:hover ~ .member-info > span:not(:first-child),
.band-member.ryan:hover ~ .member-info > span:not(:first-child),
.band-member.matt-s:hover ~ .member-info > span:not(:first-child),
.band-member.belle:hover ~ .member-info > span:not(:first-child),
.band-member.gary:hover ~ .member-info > span:not(:first-child),
.band-member.megan:hover ~ .member-info > span:not(:first-child),
.band-member.laurie:hover ~ .member-info > span:not(:first-child),
.band-member.matt-b:hover ~ .member-info > span:not(:first-child) {
    transition: none !important;
}

/*---------------------------------------------Phone Size Images-----*/

/* Phone and tablet had different layouts, not using the selection screen, but more of a list so needed different layouts */
.band-member-phone {
    display: none;
}

.band-member-phone h1 {
    font-family: "Londrina Solid", cursive;
    margin: 5vh 0 0 0;
}

.member-info-phone {
    width: 92vw;
    display: inline-block;
    margin: 0 4vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.member-info-phone img {
    height: 30vmin;
    width: 30vw;
    margin-top: 10px;
    border: 4px solid rgb(174, 167, 167);
    border-radius: 50%;
}
.member-info-phone span {
    font-size: 5vmin;
    text-transform: uppercase;
    font-family: "Luckiest Guy", cursive;
    text-align: center;
}

.member-info-phone i {
    font-size: 5vmin;
    background: transparent;
    padding-bottom: 1vh;
}

hr {
    margin: 5vmin 4vw 5vmin 4vw;
    border: 1px ridge #f5e1e1f6;
}

p.instrument {
    font-size: 4.5vmin;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0;
    font-family: "Luckiest Guy", cursive;
}

p.about-me {
    font-size: 3vmin;
    max-height: 25vh;
    max-width: 60vw;
    padding: 1vw;
    margin: 2vw;
    overflow: auto;
    border: 2px inset rgba(0,0,0,0.75);
}


/*---------------------------------------------Footer-----*/

footer .social-container {
    display: none;
}

.website-about {
    display: block;
    grid-area: 1 / 3; 
    margin: auto;
    justify-content: center;
}

/*--------------------------------------------Media Queries-----*/

    /* Media Query to handle phone size screens */

@media only screen and (max-width: 600px) {
    .logo-nav {
        display: block;
        z-index: 9999;
    }

    .page-title {
        grid-area: 1 / 1;
    }

    .page-title h1 {
        font-size: 3em;
    }

    .band-info {
        grid-area: 2 / 1;
        width: 90vw;
        padding: 5vmin;
        margin: 0 4vw;
        font-size: 1em;       
    }

    main {
        grid-template-columns: auto;
        grid-template-rows:  100px auto auto auto auto auto auto auto auto auto auto;
    }

    footer {
        grid-template-columns: auto;
    }


    .band-member-select {
        display: none;

    }

    .band-member-phone {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    .menu-list {
        background: radial-gradient(circle farthest-side at 0% 50%,#20a31c 23.5%,rgba(240,166,17,0) 0)21px 30px,
                    radial-gradient(circle farthest-side at 0% 50%,#004b13 24%,rgba(240,166,17,0) 0)19px 30px,
                    linear-gradient(#20a31c 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#20a31c 0)0 0,
                    linear-gradient(150deg,#20a31c 24%,#004b13 0,#004b13 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#004b13 0,#004b13 76%,#20a31c 0)0 0,
                    linear-gradient(30deg,#20a31c 24%,#004b13 0,#004b13 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#004b13 0,#004b13 76%,#20a31c 0)0 0,
                    linear-gradient(90deg,#004b13 2%,#1e9919 0,#1e9919 98%,#004b13 0%)0 0 #1e9919;
        background-size: 40px 60px;

        border-bottom: 5px ridge #f5e1e1f6;

        padding: 100px 0 25px 25px;
    }

    footer .social-container {
    display: block;
    grid-area: 1 / 1;
    }

    .website-about {
        display: none;
    }

}

    /* Media Query to handle tablet size screens */

@media only screen 
and (min-width: 601px) 
and (max-width: 1024px) {
    main {
        grid-template-columns: auto;
        grid-template-rows:  100px auto auto auto auto auto auto auto auto auto auto;
    }

    .page-title {
        grid-area: 1 / 1;
    }

    .band-info {
        grid-area: 2 / 1;
        width: 90vw;
        padding: 5vmin;
        margin: 0 4vw;
        font-size: 1.5em;       
    }

    .band-member-select {
        display: none;
    }

    .band-member-phone {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font-size: 1.5em;
    }

    .member-info-phone i {
        margin-top: 0;
        font-size: 1.7em;
    }

    .member-info-phone .about-me {
        font-size: 3vmin;
    }

    footer .social-container {
        display: block;
    }
}
