@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');


header {
    background: radial-gradient(circle farthest-side at 0% 50%,#f71e17 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,#8b0404 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(#f71e17 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#f71e17 0)0 0,
linear-gradient(150deg,#f71e17 24%,#8b0404 0,#8b0404 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#8b0404 0,#8b0404 76%,#f71e17 0)0 0,
linear-gradient(30deg,#f71e17 24%,#8b0404 0,#8b0404 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#8b0404 0,#8b0404 76%,#f71e17 0)0 0,
linear-gradient(90deg,#8b0404 2%,#f71e17 0,#f71e17 98%,#8b0404 0%)0 0 #f71e17;
background-size: 40px 60px;

border-bottom: 5px ridge #f5e1e1f6;
}

footer {
    background: #000;
}

main {
    grid-template-rows: 150px auto;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    
}

/*---------------------------------------------Band Info-----*/

.band-info {
    display: grid;
    grid-column: 1 / span 2;
    padding: 0 25%;   
}

/* .container-band {
    height: 225px;
    margin-bottom: 25px;
}

.info {
    height: 100px;
    text-align: center;
    padding-left: 175px;
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 23px;

} */


/*---------------------------------------------Band Members-----*/

.band-member-select {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    column-gap: 5px;
    row-gap: 5px;
    height: 60vmin;
    width: 60vmin;
    left: 10%;
    position: relative;
    background-color: rgba(174, 167, 167, 0.5);
    border: 4px inset rgb(174, 167, 167);
    border-radius: 2%;
    align-items: center;
    padding: 20px;

}


.band-member {
    align-items: center;
    justify-content: center;

    border-radius: 5%
}

.band-member:hover {
    background-color: rgba(174, 167, 167, 0.233);
}

main .band-member:hover  main .member-name span {
    visibility: hidden;
}

.band-member:hover img {
    transform: scale(1.2) 
}

.selected-member {
    display: grid;
    grid-template-rows: auto 75px 150px;
    height: 100%;
    width: 100%;
    justify-items: center;
    padding: 25px 0;
}
 
.full-image {
    max-height: 100%;
    
}

.full-image img {
    max-height: 100%;
    border-radius: 50%;
    border: 10px solid rgb(174, 167, 167);
}

.member-name {
    margin: auto;
    text-transform: uppercase;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: bold;
    font-size: 55px;
}

.member-info {
    margin: auto;
}





 /*
.char-select .col-4 {
    text-align: center;  
    position: relative;
}

.member-dave {
    background-image: url("../img/dave/dave-2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.member-dave:hover {
    background-image: url("../img/dave/dave-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 10px;
    left: 5px;
    transform: rotate(20deg);
} */




/*---------------------------------------------Footer-----*/

/* Footer {
    background-color: #000;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #fff;
} */



