@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

/*---------------------------------------------Grid Layout-----*/

header {
    background: radial-gradient(circle farthest-side at 0% 50%,#f71e17 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,#8b0404 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(#f71e17 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#f71e17 0)0 0,
linear-gradient(150deg,#f71e17 24%,#8b0404 0,#8b0404 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#8b0404 0,#8b0404 76%,#f71e17 0)0 0,
linear-gradient(30deg,#f71e17 24%,#8b0404 0,#8b0404 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#8b0404 0,#8b0404 76%,#f71e17 0)0 0,
linear-gradient(90deg,#8b0404 2%,#f71e17 0,#f71e17 98%,#8b0404 0%)0 0 #f71e17;
background-size: 40px 60px;

border-bottom: 5px ridge #f5e1e1f6;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 25%);
}


/*---------------------------------------------Side Text-----*/

.contact-header {
    padding: 2vmin;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 2em;
    justify-content: center; 
}


/*---------------------------------------------Contact Form-----*/

form  {
    background-color: rgba(174, 167, 167, 0.5);
    border: 4px inset rgb(174, 167, 167);
    border-radius: 2%;
    width: 30vw;
    max-width: 500px;
    padding: 5vw 5vw;      
}

form input,
form textarea {
    background-color: rgb(174, 167, 167);
    border: 4px inset rgb(174, 167, 167);
    color: #000;
    width: 100%;
}

.send-button {
    background-color: rgb(174, 167, 167);
    border: 2px outset rgb(174, 167, 167);
    width: 20%;
}  

label {
    margin: 1vh 0;
}

/*---------------------------------------------Footer-----*/



/*---------------------------------------------Media Queries-----*/

@media only screen and (max-width: 600px) {
    main {
    grid-template-columns: 1fr;
    }
    
    .logo-nav {
        display: block;
        z-index: 9999;
    }

    .menu-list {
        background: radial-gradient(circle farthest-side at 0% 50%,#20a31c 23.5%,rgba(240,166,17,0) 0)21px 30px,
                    radial-gradient(circle farthest-side at 0% 50%,#004b13 24%,rgba(240,166,17,0) 0)19px 30px,
                    linear-gradient(#20a31c 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#20a31c 0)0 0,
                    linear-gradient(150deg,#20a31c 24%,#004b13 0,#004b13 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#004b13 0,#004b13 76%,#20a31c 0)0 0,
                    linear-gradient(30deg,#20a31c 24%,#004b13 0,#004b13 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#004b13 0,#004b13 76%,#20a31c 0)0 0,
                    linear-gradient(90deg,#004b13 2%,#20a31c 0,#20a31c 98%,#004b13 0%)0 0 #20a31c;
        background-size: 40px 60px;

        border-bottom: 5px ridge #f5e1e1f6;

        padding: 150px 0 25px 25px;
    }

    .contact-header {
        grid-area: 1 / 1;
        width: 90vw;
        padding: 5vmin;
        margin: 10vh 4vw 3vh 4vw;
        font-size: 1.5em;
    }

    form {
        width: 90vw;
        margin-bottom: 5vh;
    }


}


