@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

header {
    background: radial-gradient(circle farthest-side at 0% 50%,#20a31c 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,#004b13 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(#20a31c 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#20a31c 0)0 0,
linear-gradient(150deg,#20a31c 24%,#004b13 0,#004b13 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#004b13 0,#004b13 76%,#20a31c 0)0 0,
linear-gradient(30deg,#20a31c 24%,#004b13 0,#004b13 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#004b13 0,#004b13 76%,#20a31c 0)0 0,
linear-gradient(90deg,#004b13 2%,#20a31c 0,#20a31c 98%,#004b13 0%)0 0 #20a31c;
background-size: 40px 60px;

border-bottom: 5px ridge #f5e1e1f6;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

}

footer {
    display: block;
    background-color: black;
    height: 60px;
}

.contact-header {
    font-size: 38px;
}

.contact-form {
    justify-content: center;
    width: 50%;
    height: 50%;
}

form  {
    background-color: #fff;
    border: 2px inset grey;
}

form * {
    width: 80%;
    margin: 25px;
}

.send-button {
    background-color: black;
}
