@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');


/*---------------------------------------------Main Logo-----*/

.logo-main {
    height:750px;
    width: 750px;

    top: 45%;
    left: 50%;
    position: fixed;

    transform: translate(-50%, -50%);
}

.logo-main img {
    align-items: center;
}

.tagline {
    width: 100%;
    text-align: center;
    
}

.tagline > span {
    text-transform: uppercase;
    padding: 6px 0 0 2px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 200%;
    
}

@media only screen and (max-width: 576px) {
    .logo-main {
            height: 375px;
            width: 375px;

            top: 45%;
            left: 50%;
            position: fixed;

            transform: translate(-50%, -50%);
    }
    .tagline > span {
        font-size: 100%;
    }

    

}
