@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

/*---------------------------------------------Font & Colours-----*/

* {
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", cursive;
}

a:hover {
    text-decoration: none;
}



/*---------------------------------------------Background-----*/

body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px 1fr auto;

    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(60deg, rgba(228, 21, 21, 0.3), rgba(0, 0, 0, 0.5) 30%),
                    linear-gradient(-60deg, rgba(8, 88, 8, 0.8),  rgba(0, 0, 0, 0.5) 30%), url("../img/background_1_crop2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    
}


/*---------------------------------------------Grid Layout-----*/

header {
    display: grid;
    grid-area: header;
    grid-template-columns: auto 1fr 20vw;
    align-items: center;
}

main {
    display: grid;
    grid-area: main;
    align-items: top;
    justify-items: center;
}

footer {
    display: grid;
    grid-area: footer;
    justify-content: center;
}


/*---------------------------------------------NavBar-----*/

.logo-nav {
    width: 150px;
    overflow: auto;
    padding: 75px 0 0 20px;
}

nav {
    padding-left: 20px;
}


.menu-list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    column-gap: 3vw;
    align-items: center;
    margin: 0;
    padding-left: 15px;
}


.menu-item a {
    display: inline-block;
    color: #f7f8fa;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.menu-item a:hover {
    transform: scale(1.2);
    color: #d6c90b;
    
}

.social-container {
    display: flex;
    justify-content: center;
}

.social-container a i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    padding: 10px 0;
    color: #f7f8fa;
    font-size: 28px;
    position: relative;
}

.facebook,
.instagram {
    background: linear-gradient(180deg, #706e6e, #292828);
}

.facebook:hover {
	background: linear-gradient(180deg, #16a4fb, #0164e1);
}
.instagram:hover {
	background: linear-gradient(180deg, #fdd628, #b401e1);
}



/*---------------------------------------------Footer-----*/

footer .social-container {
    display: none;
}

/*---------------------------------------------Media Queries-----*/

@media only screen and (max-width: 600px) {
        .logo-nav {
        display: none;
    }

    header .social-container {
       display: none;           
    }

    footer .social-container {
        display: block;
        padding: 25px 0;
    }

    .menu-list {
        display: none;
    }
    
}

@media only screen and (max-width: 1024px) {
    .logo-nav {
        display: none;
    }

    header .social-container {
       display: none;           
    }

    footer .social-container {
        display: block;
        padding: 25px 0;
    }

    header {
        grid-template-columns: auto;
        justify-content: center;
    }

    .nav-mainpage,
    .menu-list {
        padding: 0;
    }

    .menu-item {
        padding: 0 2vw;
    }
}