@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

/*---------------------------------------------Font & Colours-----*/

* {
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", cursive;
}

a:hover {
    text-decoration: none;
}



/*---------------------------------------------Background-----*/

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(60deg, rgba(228, 21, 21, 0.3), rgba(0, 0, 0, 0.5) 30%),
                    linear-gradient(-60deg, rgba(8, 88, 8, 0.8),  rgba(0, 0, 0, 0.5) 30%), url("../img/background_1_crop2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px 1fr auto;
}


/*---------------------------------------------Grid Layout-----*/

header {
    display: grid;
    grid-area: header;
    grid-template-columns: auto 1fr 15%;
    align-items: center;
    padding-left: 15px;
}

main {
    display: grid;
    grid-area: main;
    align-items: top;
    justify-items: center;
}



/*---------------------------------------------NavBar-----*/

.logo-nav {
    width: 150px;
    overflow: auto;
    padding-top: 60px;
}

nav {
    padding-left: 20px;
}


.menu-list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    column-gap: 40px;
    align-items: center;
    margin: 0;
}


.menu-item a {
    display: inline-block;
    color: #f7f8fa;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.menu-item a:hover {
    transform: scale(1.2);
    color: #f74b45;
    
}

.social-container a i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    padding: 10px 0;
    color: #f7f8fa;
    font-size: 28px;
    position: relative;
}

.facebook,
.instagram {
    background: linear-gradient(180deg, #706e6e, #292828);
}

.facebook:hover {
	background: linear-gradient(180deg, #16a4fb, #0164e1);
}
.instagram:hover {
	background: linear-gradient(180deg, #fdd628, #b401e1);
}

/*
@media only screen and (max-width: 576px) {
        .logo-nav {
        display: none;
    }

    .social-container {
        bottom: 0;
        position: fixed;
        width: 100%;
           
    }

    .social-container a {
        left: 30%;

        transform: translate(-50%, -50%);
        position: relative;
    }

    .menu-list {
        left: 5vw;
    }

} 

*/

